@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Mobile First Styling:- Small Phones */

* {
    /*border: 1px solid red;*/
    font-family: "Arsenal", serif;
    color: #ffffff;
    text-align: justify;
}

html, body {
    background-color: #639a66 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card-body > a, .card-body > * > a {
    color: #ced37a !important;
}

.card-body > .btn-primary > a {
    color: #ffffff !important;
}

input, select, textarea {
    background-color: #a6ad7b !important;
}

.wellbeing-nav {
    background-color: #efc23a;
}

.wellbeing-nav-text {
    color: #639a66;
    font-size: 20px;
}

.wellbeing-footer {
    background-color: #1b6442;
    margin-top: auto;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 10px;
}

.wellbeing-footer-text {
    color: #ffffff;
    font-size: 20px;
}

.wellbeing-footer-text > a{
    color: #ffffff;
    font-size: 20px;
}

.wellbeing-logo {
    height: 50px;
    border-radius: 5px;
}

.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 10px;
}

.container-sm {
    background-color: #ced37a;
    border-radius: 25px;
    padding: 20px;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}

.page-title {
    align-self: center;
    background-color: #2d4739;
    min-width: 70vw;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.page-title > * {
    text-align: center;
}

.page-subtitle {
    align-self: center;
    background-color: #2d4739;
    min-width: 60vw;
    border-radius: 25px;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    text-align: center;
}

.page-subtitle > * {
    text-align: center;
}

.btn-primary {
    background-color: #1b6442 !important;
    border-color: #000000 !important;
}

.text-home {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
}

.btn-primary:hover {
    background-color: #ced37a !important;
}

h1, h2, h3 {
    font-family: 'Tenor Sans', sans-serif;
    margin-bottom: 0rem !important; 

}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.5rem !important;
}

h3 {
    font-size: 1.2rem !important;
}

.card {
    background-color: #639a66 !important;
    border-radius: 25px !important;
    min-height: 46vh;
}

.card-body {
    font-size: 20px;
}

.home-wrap {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 35vh;
    gap: 10px;
    justify-content: center;
}

.email {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.achievements {
    display: flex;
    flex-direction: column;
}

.achievements > * {
    display: flex;
    flex-direction: row;
}

/* Achivement image styling. */

/* Sets image as greyscale, for when achievememts are not attained. */
.unachieved {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: relative;
}

.achieved {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: relative;
}

.achieved > *, .unachieved > * {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.achievement-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement-images > * {
    width: 20%;
    height: 20%;
}

.achievement-image {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement-image > * {
    width: 32%;
    height: 32%;
}

.description {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 25px;
}
  
.achieved:hover .overlay {
    opacity: 1;
}

.achieved:active .overlay {
    opacity: 1;
}

.unachieved:hover .overlay {
    opacity: 1;
}

.unachieved:active .overlay {
    opacity: 1;
}

.image-overlay-text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Goals Styling */

.goals {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.goals-types {
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    align-self: center;
}

.goal-images {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.goal-layout {
    display: flex;
    flex-direction: column;
    width: 110px;
    align-self: center;
}

.goal-layout > * > div > h4 {
    text-align: center;
}

.goal-layout > * > div {
    text-align: center;
}

.goal {
    width: 100px;
}

.goal-totals{
    display: flex;
    flex-direction: row;
}

.totals-container {
    display: flex;
    flex-direction: column;
}

.total {
    display: flex;
    justify-content: center;
}

.each {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Link Styling */

.button-link {
  color: inherit;
  text-decoration: none;
}

.button-link:hover {
  color: inherit;
  text-decoration: none;
}

.button-multi {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Styling Articles */

.individual-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.individual-content > *, .individual-content > * > div > h3 {
    text-align: center;
}

.article-image {
    width: 100%;
}

.article-image > * {
    width: 100%;
    display: flex;
    justify-content: center;
}

.article-author {
    width: 100%;
    display: flex;
    justify-content: center;
}

.article-date {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.article-content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.about-author {
    width: 100%;
    margin-bottom: 20px;
}

.author-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media screen and (min-width: 390px) {

  /* Larger Phones */

  .wellbeing-logo {
    height: 75px;
}

.container {
    padding-top: 130px;
}

.card {
    min-height: 50vh;
}

}

@media screen and (min-width: 768px) {

  /* Small Tablets */

  .wellbeing-logo {
    height: 125px;
}

.wellbeing-nav-text {
    font-size: 30px;
}

.container {
    padding-top: 175px;
}

.card {
    min-height: 53vh;
}

.card-body {
    font-size: 30px;
}

.page-title {
    justify-content: left;
}

.home-wrap {
    display: flex;
    flex-direction: row;
}

.text-home {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 50%;
}

.each {
    flex-direction: row;
}

h1 {
    font-size: 2.5rem !important;
}

h2 {
    font-size: 2rem !important;
}

h3 {
    font-size: 1.7rem !important;
}

.about-author {
    font-size: 25px;
}

.article-content {
    font-size: 20px;
}

.article-date {
    font-size: 19px;
}

.article-image {
    width: 75%;
}

.email {
    
    font-size: 20px;
}

.goal-layout {
    width: 50%;
}

.goal-layout > * > div > div > img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.goal-layout > * > div > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-overlay-text {
    font-size: 15px;
}
  
}

@media screen and (min-width: 1024px) {
  /* Larger Devices */

  .container {
    padding-top: 190px;
}

.container-sm {
    min-height: 80vh;
}

.card {
    min-height: 63vh;
}

.goals-types {
    flex-direction: column;
    align-self: flex-start;
}
.goals {
    flex-direction: row;
}

.email {
    font-size: 30px;
}

.name {
    font-size: 30px;
}

}

.each {
    font-size: 25px;
}

.image-overlay-text {
    font-size: 20px;
}

@media screen and (min-width: 1040px) {
    /* Computers */

    .wellbeing-logo {
        height: 100px;
    }
  
    .container {
      padding-top: 150px;
  }
  
  .container-sm {
    justify-self: center;
    min-height: 70vh;
    min-width: 80vw;
    margin-bottom: 10px;
  }

  .card {
    min-height: 43vh;
}

.card-body {
    font-size: 20px;
}
  
  }