@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Arsenal", serif;
}

h1, h2, h3 {
    font-family: 'Tenor Sans', sans-serif;
}

.unachieved {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    width: 20%;
    height: 20%;
}
  
  /* Disable grayscale on hover */
.unachieved:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}