@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    /*border: 1px solid red;*/
    font-family: "Arsenal", serif;
}

h1, h2, h3 {
    font-family: 'Tenor Sans', sans-serif;
}

/* Sets image as greyscale, for when achievememts are not attained. */
.unachieved {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.achieved {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.achievement-images {
    display: flex;
    flex-wrap: wrap;
    width: 385px;
}

.achievement-images > * {
    width: 33%;
    height: 33%;
}

.achievement-images > div > * {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}