{{>page-partials/header}}
<h1>Account</h1>
<h2>Users Only</h2>
<h3>Welcome {{name}}</h3>
<div>
    <p>
        Some information will go here.
        <br><br>
        
        <ul>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/goals">Goals</a></li>
        </ul>
    </p>
</div>
{{>page-partials/footer}}