{{>page-partials/header}}
{{#achievement}}
<div class="page-title">
    <h1>{{name}}</h1>
</div>
<div class="page-subtitle">
    <h3>Type: {{type}}</h3>
</div>
<div class="card">
    <div class="card-body">
        <div class="achievement-images">
            <div class="{{achieved}}">
                <img src="{{image}}">
            </div>
        </div>
        <div class="">
            {{earned}}
        </div>
        <div class="description">
            Description: {{description}}
        </div>
        <div class="btn btn-primary">
            <a href="/{{username}}/achievements" class="button-link">Back To Achievements</a>
        </div>
    </div>
</div>
{{/achievement}}

{{>page-partials/footer}}