{{>page-partials/header}}
<h1>Achievments</h1>
<h2>Users Only</h2>
<h3>Welcome {{name}}</h3>
<div class="achievement-images">
    <div class="{{achieved}}">
        <img src="/img/achievements/general/set/1-general-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/general/set/10-general-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/general/set/20-general-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/general/complete/1-general-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/general/complete/10-general-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/general/complete/20-general-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/fitness/set/1-fitness-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/fitness/set/10-fitness-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/fitness/set/20-fitness-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/fitness/complete/1-fitness-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/fitness/complete/10-fitness-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/fitness/complete/20-fitness-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/health/set/1-health-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/health/set/10-health-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/health/set/20-health-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/health/complete/1-health-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/health/complete/10-health-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/health/complete/20-health-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/nutrition/set/1-nutrition-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/nutrition/set/10-nutrition-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/nutrition/set/20-nutrition-set.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/nutrition/complete/1-nutrition-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/nutrition/complete/10-nutrition-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/nutrition/complete/20-nutrition-complete.png">
    </div>
    <div class="{{achieved}}">
        <img src="/img/achievements/general/final-goal.png">
    </div>
</div>
{{>page-partials/footer}}