{{>page-partials/header}}
<h1>Achievement</h1>
<h2>Users Only</h2>
{{#achievement}}
<div class="">
    {{name}}
</div>
<div class="">
    {{image}}
</div>
<div class="">
    {{type}}
</div>
<div class="">
    {{achieved}}
</div>
<div class="">
    {{dateAchieved}}
</div>
<div class="">
    {{description}}
</div>
{{/achievement}}
{{>page-partials/footer}}