{{>page-partials/header}}
<div class="page-title">
    <h1>Article Dashboard</h1>
</div>
<div class="page-subtitle">
    <h3>All Article Subjects</h3>
</div>
<div class="card">
    <div class="card-body">
        <div>
            <a href="/{{username}}/fitness">Fitness</a>
          </div>
          <div>
            <a href="/{{username}}/healthy-living">Healthy-Living</a>
          </div>
          <div>
            <a href="/{{username}}/nutrition">Nutrition</a>
          </div>
        </div>
    </div>
  </div>
{{>page-partials/footer}}