{{>page-partials/header}}
{{#article}}
<div class="page-title">
    <h1>{{articleTitle}}</h1>
</div>
<div class="page-subtitle">
    <h3>{{articleSubtitle}}</h3>
</div>
<div class="card">
    <div class="card-body">
        <div class="author-image">
            <div class="article-image">
                <img src="{{articleImage}}" alt="Image of article author, {{author}}.">
            </div>
            <div class="article-author">
                by {{author}}
            </div>
        </div>
        <div class="article-date">
            {{timeDate}}
        </div>
        <div class="article-content">
            {{articleContent}}
        </div>
        <div class="about-author">
            About The Author:<br><br>{{aboutAuthor}}
        </div>
        <div class="btn btn-primary">
            <a href="/{{username}}/articles/{{type}}" class="button-link">Back To {{type}} Articles</a>
        </div>
    </div>
</div>
{{/article}}
{{>page-partials/footer}}