{{>page-partials/header}}
<div class="page-title">
    <h1>{{firstName}}'s Dashboard</h1>
</div>
<div class="page-subtitle">
    <h3>Everything You Need Is Here</h3>
</div>
<div class="card">
    <div class="card-body">
      <div>
        <a href="/{{username}}/account">Account Details</a>
      </div>
      <div>
        <a href="/{{username}}/goals">Goals</a>
      </div>
      <div>
        <a href="/{{username}}/achievements">Achievements</a>
      </div>
      <div>
        <a href="/{{username}}/articles">Articles</a>
      </div>
    </div>
  </div>
{{>page-partials/footer}}