{{>page-partials/header}}
<h1>Account</h1>
<h2>Users Only</h2>
<h3>Welcome {{firstName}}</h3>
<div>
    <p>
        Some information will go here.
        <br>
        <ul>
            <li><a href="/{{username}}/account">Account Details</a></li>
            <li><a href="/{{username}}/achievements">Achievements</a></li>
            <li><a href="/{{username}}/goals">Goals</a></li>
            <li><a href="">Articles</a></li>
        </ul>
    </p>
</div>
{{>page-partials/footer}}