{{>page-partials/header}}
<div class="page-title">
    <h1>Delete Goal</h1>
</div>
<div class="page-subtitle">
    <h3>Delete Your Goal Called {{name}}</h3>
</div>
<div class="card">
    <div class="card-body">
        <div>
            Are you sure you want to delete this goal?
        </div>
        {{#goal}}
        <div>
            <div class="">
                <h4>{{name}}</h4>
            </div>
            <div class="">
                Type: {{type}}
                <div class="goal">
                    <img src="/img/goals/{{type}}.png" class="goal-images">
                </div>
            </div>
            <div class="">
                Date Created: {{dateCreated}}
            </div>
            <div class="">
                Target Date: {{dateSet}}
            </div>
            <div class="">
                Description: {{description}}
            </div>
        </div>
        {{/goal}}
        <div>
            Once you delete this goal it cannot be recovered.
        </div>
        <div>
            <div>
                <form method="post" role="/delete-goal">
                    <div class="form-group">
                        <div class="btn btn-primary">
                            <a href="/{{username}}/goal/{{id}}" class="button-link">Back To Goal</a>
                        </div><input type="submit" value="Delete Goal" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
{{>page-partials/footer}}