{{>page-partials/header}}
<h1>Goal</h1>
<h2>Users Only</h2>
{{#sGoal}}
<div class="">
    <h4>{{name}}</h4>
</div>
<div class="">
    {{type}}
</div>
<div class="">
    {{complete}}
</div>
<div class="">
    {{dateCreated}}
</div>
<div class="">
    {{dateSet}}
</div>
<div class="">
    {{dateComplete}}
</div>
<div class="">
    {{description}}
</div>
<div class="">
    {{id}}
</div>
<a href="">Edit Goal</a>
{{/sGoal}}
{{#cGoal}}
<div class="">
    <h4>{{name}}</h4>
</div>
<div class="">
    {{type}}
</div>
<div class="">
    {{complete}}
</div>
<div class="">
    {{dateCreated}}
</div>
<div class="">
    {{dateSet}}
</div>
<div class="">
    {{dateComplete}}
</div>
<div class="">
    {{description}}
</div>
<div class="">
    {{id}}
</div>
{{/cGoal}}
{{>page-partials/footer}}