{{>page-partials/header}}
<h1>Goal</h1>
<h2>Users Only</h2>
{{#sGoal}}
<div class="">
    <h4>{{name}}</h4>
</div>
<div class="">
    Goal Type: {{sType}}
    <div class="goal">
        <img src="/img/goals/{{type}}.png"  class="goal-images">
    </div>
</div>
<div class="">
    Date Created: {{sDateCreated}}
</div>
<div class="">
    Target Date: {{sDateSet}}
</div>
<div class="">
    Description: {{description}}
</div>
<div class="button-multi">
    <div class="form-group btn btn-primary">
        <a href="/{{username}}/edit-goal/{{id}}" class="button-link">Edit Goal</a>
    </div>
    <div class="form-group btn btn-primary">
        <a href="/{{username}}/complete-goal/{{id}}"class="button-link">Complete Goal</a>
    </div>
    <div class="form-group btn btn-primary">
        <a href="/{{username}}/delete-goal/{{id}}" class="button-link">Delete Goal</a>
    </div>
</div>
<div class="form-group btn btn-primary">
    <a href="/{{username}}/goals" class="button-link">Back To Goals</a>
</div>
{{/sGoal}}
{{#cGoal}}
<div class="">
    <h4>{{name}}</h4>
</div>
<div class="">
    Type: {{cType}}
    <div class="goal">
        <img src="/img/goals/{{type}}.png" class="goal-images">
    </div>
</div>
<div class="">
    Date Created: {{cDateCreated}}
</div>
<div class="">
    Target Date: {{cDateSet}}
</div>
<div class="">
    Date Completed: {{cDateComplete}}
</div>
<div class="">
    Description: {{description}}
</div>
<div class="form-group btn btn-primary">
    <a href="/{{username}}/goals" class="button-link">Back To Goals</a>
</div>
{{/cGoal}}
{{>page-partials/footer}}